[submodule "iot-core"]
	path = iot-core
	url = https://github.com/SmartThingsCommunity/st-device-sdk-c.git
[submodule "bsp/esp32"]
	path = bsp/esp32
	url = https://github.com/espressif/esp-idf.git
[submodule "bsp/esp32_v3.3"]
	path = bsp/esp32_v3.3
	url = https://github.com/espressif/esp-idf.git
[submodule "bsp/esp32s2"]
	path = bsp/esp32s2
	url = https://github.com/espressif/esp-idf.git
[submodule "bsp/esp8266"]
	path = bsp/esp8266
	url = https://github.com/espressif/ESP8266_RTOS_SDK.git
[submodule "bsp/rtl8195"]
	path = bsp/rtl8195
	url = https://github.com/ambiot/amb1_sdk.git
[submodule "bsp/rtl8720c"]
	path = bsp/rtl8720c
	url = https://github.com/ambiot/ambz2_sdk.git
[submodule "bsp/rtl8721c"]
	path = bsp/rtl8721c
	url = https://github.com/ambiot/ambd_sdk.git
[submodule "bsp/emw3166/mico-os"]
	path = bsp/emw3166/mico-os
	url = https://github.com/MXCHIP/mico-os
[submodule "bsp/emw3080/mico-os"]
	path = bsp/emw3080/mico-os
	url = https://github.com/MXCHIP/mico-os
