[submodule "bsp/esp8266"]
	path = bsp/esp8266
	url = https://github.com/espressif/ESP8266_RTOS_SDK.git
[submodule "bsp/esp32"]
	path = bsp/esp32
	url = https://github.com/espressif/esp-idf
[submodule "iot-core"]
	path = iot-core
	url = https://github.com/SmartThingsCommunity/st-device-sdk-c.git
